ion-slides {
    height: 100%;
  }

  .swiper-slide {
    display: block;
  }

  .swiper-slide h2 {
    margin-top: 2.8rem;
  }

  .swiper-slide img {
    max-height: 100%;
    max-width: 100%;
    margin: 0px 0 0px;
    pointer-events: none;
   
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: var(--ion-color-step-600, #494949);
  }

  p b {
    color: var(--ion-text-color, #000000);
  }

#voltar {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}