

  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="films">
        <ion-icon name="film"></ion-icon>
        <ion-label>Filmes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="theater">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Teatro</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tv">
        <ion-icon name="tv"></ion-icon>
        <ion-label>Televisão</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>


