<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Filmografia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-blue">

<!--Cards que listam todos os filmes onde o actor já participou, obtendo essa informação a partir de uma API externa.--->
<div class="filmes">
  <ion-card *ngFor="let filme of filmes | keyvalue" button="true" (click)="verDetalhesFilme(filme.key)" >
    <ion-card-header>
      <ion-row justify-content-between>
        <ion-col col-auto>
          <img src="https://image.tmdb.org/t/p/w154{{filme.value.poster_path}}" onError="src = './assets/indisponivel.png'" style="width:120px; height:120px;" item-left/>
        </ion-col>

        <ion-col>
          <ion-row text-wrap>
            <h4>{{filme.value.original_title}}</h4>
          </ion-row>

          <ion-row text-wrap>
            <p><b>Data de lançamento</b> {{filme.value.release_date}}
          </ion-row>
        
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</div>
</ion-content>



