.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.star{
    width:auto; 
    max-height:22px; 
    margin-right:2px; 
    position: relative; 
    top:4px;
}

.filmeButton {
  margin-top: 30px;
}