<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Teatro</ion-title>
  </ion-toolbar>
</ion-header>


<!--Cards que listam todos as peças onde o actor já participou, obtendo essa informação a partir de um ficheiro JSON local.--->
<ion-content>
    <ion-card class="cards" *ngFor="let peca of pecas | keyvalue">
      <img src="{{peca.value.imageUrl}}" />
      <ion-card-header>
        <ion-card-subtitle>{{peca.value.palco}}</ion-card-subtitle>
        <ion-card-title>{{peca.value.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      <b>Ano: </b>{{peca.value.ano}}
      </ion-card-content>
    </ion-card>
</ion-content>


