<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>Televisão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Cards que listam todos os créditos de telivisão onde o actor já participou, obtendo essa informação a partir de uma API externa.--->
  <div class="tv">
    <ion-card *ngFor="let credit of aparencias | keyvalue" >
      <ion-card-header>
        <ion-row justify-content-between>
          <ion-col col-auto>
            <img src="https://image.tmdb.org/t/p/w154{{credit.value.poster_path}}" style="width:120px; height:120px;" item-left/>
          </ion-col>
  
          <ion-col>
            <ion-row text-wrap>
              <h4>{{credit.value.original_name}}</h4>
            </ion-row>
          
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>


</ion-content>


<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom" >
      <ion-tab-button tab="films">
        <ion-icon name="film"></ion-icon>
        <ion-label>Filmes</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="theater">
        <ion-icon name="accessibility-outline"></ion-icon>
        <ion-label>Teatro</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="map">
        <ion-icon name="tv"></ion-icon>
        <ion-label>Televisão</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

