<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Televisão</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-blue">

  <!--Cards que listam todos os créditos de telivisão onde o actor já participou, obtendo essa informação a partir de uma API externa.--->
  <div class="tv">
    <ion-card *ngFor="let credit of aparencias | keyvalue">
      <ion-card-header>
        <ion-row justify-content-between>
          <ion-col col-auto>
            <img src="https://image.tmdb.org/t/p/w154{{credit.value.poster_path}}" onError="src='./assets/indisponivel.png'" style="width:120px; height:120px;" item-left/>
          </ion-col>
  
          <ion-col>
            <ion-row text-wrap>
              <h4>{{credit.value.original_name}}</h4>
            </ion-row>
          
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>


</ion-content>




